*
{
    margin: 0;
    padding: 0;
}


h2
{
    text-align: center;
}



.row
{
    width: 100%;
}

.col ,
.col-6
{
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding: 15px;
}


.row
{

}


